<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- config -->
<th:block th:replace="fragment/config :: configFragment"></th:block>
<!-- header -->

<body>
    <th:block th:replace="fragment/header :: headerFragment"></th:block>
    <main>
        <!-- Comment Form Section -->
        <section id="comment-form" class="comment-form section">
            <div class="container">

                <form action="/blog-write" method="post">

                    <h4>Post Blog</h4>
                    <p>Your email address will not be published. Required fields are marked * </p>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input name="title" type="text" class="form-control" placeholder="Title*">
                        </div>
                        <div class="col-md-6 form-group">
                            <input name="creatorId" type="text" class="form-control" placeholder="Your Id">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <input name="website" type="text" class="form-control" placeholder="Your Website">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <textarea name="contents" class="form-control" placeholder="Contents"></textarea>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Post Comment</button>
                    </div>

                </form>

            </div>
        </section><!-- /Comment Form Section -->
    </main>

<!-- footer -->
<th:block th:replace="fragment/footer :: footerFragment"></th:block>
</body>
</html>